@model ListPerfumeViewModel
@{
    this.ViewData["Title"] = "All perfumes";
}

@section Styles{
    <link rel="stylesheet" href="~/css/Home/all.css" asp-append-version="true" />
}
@if (Model.Page > Model.PageCount)
{
    <partial name="_IncorrectPagePartial" />
}
else
{
    <div class="container d-flex justify-content-center mt-50 mb-50">
        <div class="row">
            @foreach (var item in this.Model.Perfumes)
            {
                <div class="col-md-4 mt-2">
                    <div class="card col-md-12 row-md-12" width="100" height="100">
                        <div class="card-body">
                            <div class="card-img-actions"> <img src="@item.ImgUrl" class="card-img img-fluid" width="100" height="100"> </div>
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a class="text-default mb-1" data-abc="true">@item.Name</a> </h6>
                            </div>
                            <a class="text-muted" data-abc="true">@item.Quantity ml</a>
                            <h3 class="mb-0 font-weight-semibold">@item.Price лв</h3>
                            <br />
                            <td>
                                <a class="btn btn-dark fa fa-cart-plus mr-2 align-bottom" href="/Perfumes/Details?id=@item.Id">View Details</a>
                            </td>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<partial name="_PaginationPartial" model="@Model" />